@import "tailwindcss";




.logoFont {
  font-family: 'Bebas Neue', sans-serif;

}


.card-ul {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}



.banner-slider .slick-prev,
.banner-slider .slick-next {
 

  width: 50px !important;
  height: 50px !important;
  
  z-index: 10 !important;
}

.banner-slider .slick-prev {
  left: 10px !important;  
}

.banner-slider .slick-next {
  right: 10px !important;
}

/* ========================= */

.product-slider .slick-prev,
.product-slider .slick-next {
 

  width: 50px !important;
  height: 50px !important;
  background-color: black;
  z-index: 10 !important;
}


.product-slider .slick-prev {
  left: 10px !important;  
}

.product-slider .slick-next {
  right: 10px !important;
}


@media (min-width: 640px) and (max-width: 767px) {
  
.banner-slider .slick-prev,
.banner-slider .slick-next {
  
  
}
}