@import "tailwindcss";




.logoFont {
  font-family: 'Bebas Neue', sans-serif;

}


.card-ul {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}



.banner-slider .slick-prev,
.banner-slider .slick-next {
  top: auto;
  bottom: 15px;

  width: 50px !important;
  height: 50px !important;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  background: black !important;
  border-radius: 9999px !important;
  z-index: 10 !important;
}

.banner-slider .slick-prev {
  left: auto !important;
  right: 80px !important;
}

.banner-slider .slick-next {
  right: 20px !important;
}